=== Iteration 0 ===
-- Operator: Join --
CDSCode
-- Operator: Scan --
CDSCode
CDSCode
=== Iteration 1 ===
-- Operator: Project --
OpenDate IS NULL
-- Operator: Join --
CDSCode = CDSCode
-- Operator: Scan --
CDSCode
CDSCode
=== Iteration 2 ===
-- Operator: Project --
OpenDate IS NULL
-- Operator: Join --
CDSCode = CDSCode
-- Operator: Scan --
CDSCode
CDSCode
=== Iteration 3 ===
-- Operator: Project --
OpenDate = 2015-12-21 06:40:27.846346
-- Operator: Join --
CDSCode = CDSCode
-- Operator: Scan --
CDSCode
CDSCode
=== Iteration 4 ===
-- Operator: Project --
OpenDate = 2015-12-21 06:40:27.846346
-- Operator: Join --
CDSCode = CDSCode
-- Operator: Scan --
CDSCode
CDSCode
=== Iteration 5 ===
-- Operator: Project --
Enrollment (K-12) IS NULL
OpenDate
-- Operator: Join --
CDSCode = CDSCode
-- Operator: Scan --
CDSCode
CDSCode
=== Iteration 6 ===
-- Operator: Project --
Enrollment (K-12) IS NULL
OpenDate
-- Operator: Join --
CDSCode = CDSCode
-- Operator: Scan --
CDSCode
CDSCode
=== Iteration 7 ===
-- Operator: Sort --
Enrollment (K-12) = 8.0
-- Operator: Project --
Enrollment (K-12)
OpenDate
-- Operator: Join --
CDSCode = CDSCode
-- Operator: Scan --
CDSCode
CDSCode
=== Iteration 8 ===
-- Operator: Sort --
Enrollment (K-12) = 3.0
-- Operator: Project --
Enrollment (K-12)
OpenDate
-- Operator: Join --
CDSCode = CDSCode
-- Operator: Scan --
CDSCode
CDSCode
